.d-flex{
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.img-fluid {
    width: 100%;
    display: block;
}

.img-logo {
    width: 300px;
}

.gap-8 {
    gap: 8px;
}

.p-8 {
    padding: 8px;
}
.text-center {
    text-align: center;
}

.bg-secondary {
    background-color: white;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.m-32 {
    padding: 32px 16px;
}

.bg-dark {
    background-color: black;
}

.justify-content-center{
    justify-content: center;
}

.btn {
    margin: 16px 0px 48px;
    border: #000 1px solid;
    background-color: white;
    cursor: crosshair;
    transition: all 1s ease;
    box-sizing: content-box;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.cursor {
    cursor: crosshair;
}

.d-none {
    display: none;
}

.add-cart {
    background-color: blue;

}

.p-fixed {
    position: absolute;
}